.supprt-main-page{
    min-height: 600px;
    margin-top: 150px;
    text-align: center;
}
.contact{
    margin-left: 40px;
}
form{
    margin-top: 100px;
}
.form-child{
    margin-top: 30px;
}
.costomer-feedbak:hover {
    background-color: rgb(236, 236, 236);
}
.costomer-feedbak{
    width: 700px;
    height: 250px;
    font-size: 30px;
    margin-top: 30px;
    border-top-right-radius: 30px;
}
.customer-name{
    width: 350px;
    height: 40px;
    margin-left: 50px;
}
.customer-name-label{
    margin-left: -150px;
}
.customer-name-label,.customer-name{
    font-size: 20px;
}
.customer-complain-label{
    margin-left: -520px;
    font-size: 20px;
}
.mail-submit-button{
    margin-left: 610px;
    background-color: black;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 30px;
}